[user]
	name = t-mario-y
[core]
	editor = code --wait
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.9.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.9.0/bin/gh auth git-credential
[pull]
  rebase = false
